<h1>Import New Restaurants and Menus</h1>
<p>Please attach spreadsheets in the correct format so it can be imported properly into the database.</p>
<%= render 'imports/restaurants' %>
<br>
<%= render 'imports/menu' %>
<br>
<br>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<br><br>